.edu-hero-video {
  .desktop-only,
  .mobile-only {
    position: relative;
    max-width: 1800px;
    margin: auto;
    display: none;
  }

  &.constrained-width {
    max-width: 1200px;
    margin: auto;
  }

  &.s-rounded-corners video {
    border-radius: 4px;
  }

  &.m-rounded-corners video {
    border-radius: 8px;
  }

  &.l-rounded-corners video {
    border-radius: 16px;
  }
}

/* mobile ONLY */
@media screen and (max-width: 600px) {
  .edu-hero-video .mobile-only {
    display: block;
  }
}

/* Tablet and desktop */
@media screen and (min-width: 600px) {
  .edu-hero-video .desktop-only {
    display: block;
  }
}
