:root[data-edu-typography-override='on'] {
  /* Headings (Consonant) */
  --type-heading-all-weight: 800;
  --type-heading-xxxl-size: calc(var(--font-size-multiplier, 1) * 44px);
  --type-heading-xxxl-lh: 1.25;
  --type-heading-xxl-size: calc(var(--font-size-multiplier, 1) * 40px);
  --type-heading-xxl-lh: 1.25;
  --type-heading-xl-size: calc(var(--font-size-multiplier, 1) * 36px);
  --type-heading-xl-lh: 1.25;
  --type-heading-l-size: calc(var(--font-size-multiplier, 1) * 28px);
  --type-heading-l-lh: 1.25;
  --type-heading-m-size: calc(var(--font-size-multiplier, 1) * 24px);
  --type-heading-m-lh: 1.25;
  --type-heading-s-size: calc(var(--font-size-multiplier, 1) * 20px);
  --type-heading-s-lh: 1.25;
  --type-heading-xs-size: calc(var(--font-size-multiplier, 1) * 18px);
  --type-heading-xs-lh: 1.25;
  --type-heading-xxs-size: calc(var(--font-size-multiplier, 1) * 16px);
  --type-heading-xxs-lh: 1.25;

  .heading-xxxl, .heading-xxl, .heading-xl {
    font-weight: 900;
  }

  .heading-xxl, .heading-xxxl {
    line-height: 1.1;
  }

  .heading-xxxl {
    letter-spacing: -4.5%;
  }

  .heading-xxl, .heading-xl {
    letter-spacing: -4%;
  }

  .heading-l, .heading-m, .heading-s, .heading-xs, .heading-xxs {
    letter-spacing: -3%;
  }

  @media screen and (min-width: 1200px) {
    --type-heading-all-weight: 800;
    --type-heading-xxxl-size: calc(var(--font-size-multiplier, 1) * 80px);
    --type-heading-xxl-size: calc(var(--font-size-multiplier, 1) * 64px);
    --type-heading-xl-size: calc(var(--font-size-multiplier, 1) * 44px);
    --type-heading-l-size: calc(var(--font-size-multiplier, 1) * 36px);
    --type-heading-m-size: calc(var(--font-size-multiplier, 1) * 28px);
    --type-heading-s-size: calc(var(--font-size-multiplier, 1) * 24px);
    --type-heading-xs-size: calc(var(--font-size-multiplier, 1) * 20px);
    --type-heading-xxs-size: calc(var(--font-size-multiplier, 1) * 18px);

    .heading-xl {
      font-weight: var(--type-heading-all-weight);
    }
  }
}
